*{margin: 0px;
    padding: 0px;
}
body{
    background: repeating-radial-gradient(orange, yellow);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 1500px;
    background-position: center;
}
header{
    width: 100%;
    overflow: hidden;
    background: #e1c00f;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
#FotoLogo{
    width: 150px;
    float: left;
    border-radius: 60%;
    margin: 20px;
}